/*
Extend styles for customization
*/

/* Header */
#header {
	border-bottom: 2px solid #1a7490;
}
h1 {
	font-family: 'Raleway',sans-serif;
	font-weight: 200;
	color: #00a1d3;
	line-height: 54px;
	/*text-transform: uppercase;*/
}

.sub-h1 {
	font-size: 16px;
	font-family: 'Michroma',sans-serif;
	color: #abb3b5;
}

hr {
	color: #53666f;
	border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(134, 252, 198, 0), rgba(134, 252, 198, 0.75), rgba(134, 252, 198, 0));
}

.biopic  {
	 padding: 2px;
     background-color: #080808;
     margin: 0 10px 0 0;
     border: 1px solid #B3B3B3
}

.seaFoam-text {
	color: #99CFB6;
  	font-family: Michroma;
  	font-weight: 300;
  	font-size: 14px;
}

.white-text {
	font-weight: 100;
  	color: #FFFFFF;
 	font-family: Roboto;
}

#skillsH3 {
	color: #99CFB6;
  	font-family: Michroma;
 	font-size: 18px;
 	font-weight: 300;
}

.welcome-message {
	font-style: none;
    font-size: 16px;
    line-height: 24px;
    font-family: Raleway;
}